@font-face {
  font-family: 'KG Second Chances';
  src: url("../fonts/KGSecondChancesSketch.ttf") format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
}

:focus {
  outline: 0;
}

.no-margin {
  margin: 0;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.couple-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: #4a4a4a;
}
.couple-name .special-char {
  font-family: "KG Second Chances";
  margin: 0 10px;
  font-size: 6rem;
}
@media (max-width: 610px) {
  .couple-name .special-char {
    font-size: 4.5em;
  }
}

.names span {
  font-weight: bold;
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  letter-spacing: 5px;
}
.names span:first-of-type {
  font-size: 50px;
  text-transform: uppercase;
}
@media (max-width: 610px) {
  .names span:first-of-type {
    font-size: 2em;
  }
}
.names span:last-of-type {
  font-size: 36px;
}
@media (max-width: 610px) {
  .names span:last-of-type {
    font-size: 1.2em;
  }
}
.names:first-of-type span:last-of-type {
  text-align: right;
}

.fixed-nav nav {
  top: 0;
  background: #fff;
  width: 100%;
  z-index: 99999;
  position: fixed;
}
.fixed-nav .hero {
  margin-top: 57px;
}
.fixed-nav .menu {
  border-bottom: 1px solid #eee;
}

.menu {
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  font-family: "Raleway", sans-serif;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.menu a {
  padding: 20px;
  display: block;
  font-size: 14px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 610px) and (max-width: 730px) {
  .menu a {
    font-size: 11px;
  }
}
.menu a i {
  display: none;
}
@media (max-width: 610px) {
  .menu a span {
    display: none;
  }
  .menu a i {
    display: block;
  }
}
.menu a:hover {
  box-shadow: inset 0 -5px 0 #a7b941;
  transition: all 0.5s;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
}

.arrows {
  width: 100%;
  position: absolute;
  display: block;
  min-height: 100%;
}
.arrows i {
  position: absolute;
  top: 50%;
  display: block;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
  font-size: 3.5em;
  color: #fff;
  font-weight: bold;
  opacity: 0.5;
}
.arrows i:first-of-type {
  left: 25px;
}
.arrows i:last-of-type {
  right: 25px;
}

.countdown {
  font-family: "KG Second Chances";
  text-align: center;
}
.countdown .counter-block {
  margin: 0 45px;
}
.countdown p {
  font-size: 50px;
}
@media (max-width: 610px) {
  .countdown p {
    font-size: 30px;
  }
}

.couple-info {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
}
.couple-info > * {
  flex: 1;
}
@media (max-width: 500px) {
  .couple-info > * {
    flex: 1 1 100%;
  }
}
.couple-info h2 {
  margin: 0;
  font-weight: 600;
}
.couple-info p {
  font-weight: 300;
  text-align: justify;
}
.couple-info img {
  width: 100%;
}
.couple-info .about {
  padding: 40px;
}
.couple-info .bride {
  background-color: #ff746f;
}
.couple-info .groom {
  background-color: #80b098;
}

.people h1 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0 20px;
  text-align: center;
}
.people section {
  padding: 20px 0;
}
.people section:nth-child(2n+1) {
  background-color: #f7f7f7;
}
.people section:nth-child(2n) {
  background-color: #fff;
}

.people-slider {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}
@media (max-width: 830px) {
  .people-slider {
    width: 100%;
  }
}
.people-slider .item {
  padding: 10px;
  width: calc(25% - 20px);
}
@media (max-width: 650px) {
  .people-slider .item {
    width: calc(50% - 20px);
  }
}
.people-slider .item figure {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  border: 8px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.people-slider .item img {
  position: absolute;
  width: 100%;
}
.people-slider .item img:first-of-type {
  z-index: 1;
}
.people-slider .item img.hover:hover {
  opacity: 0;
}
.people-slider .item .caption {
  text-align: center;
  padding: 10px;
}

.location {
  background: #f9c184;
  padding: 30px 10% 0;
}
.location h1 {
  font-family: "KG Second Chances";
  font-weight: normal;
  font-size: 42px;
}

.location-card {
  background: #fff;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.location-card .thumb {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.location-card .thumb .overlay {
  width: 100%;
  min-height: 350px;
  position: absolute;
  top: 0;
}
.location-card .info {
  padding: 30px;
  display: flex;
}
@media (max-width: 500px) {
  .location-card .info {
    display: block;
  }
}
.location-card .info h2 {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
}
.location-card .info div {
  width: 50%;
}
@media (max-width: 500px) {
  .location-card .info div {
    width: 100%;
  }
}
.location-card .info span {
  font-size: 14px;
  font-weight: 300;
}
.location-card .info .date-time {
  font-size: 18px;
  text-align: right;
}
@media (max-width: 500px) {
  .location-card .info .date-time {
    margin-top: 15px;
    text-align: left;
    display: block;
  }
}
.location-card .more-local-info {
  text-align: center;
  cursor: pointer;
  transform: translateY(-15px);
  transition: all 0.5s;
  margin: auto;
  display: table;
}
.location-card .more-local-info span {
  display: block;
  line-height: 0;
}
.location-card .more-local-info:hover {
  transform: translateY(-5px);
}
.location-card .map-details {
  display: none;
  opacity: 1;
  transition: opacity 1s;
}
.location-card .map-details.hide {
  opacity: 0;
}
.location-card .map-details .item {
  width: 50%;
}
.location-card .map-details p {
  padding: 0 30px;
}
.location-card .map-details li {
  font-size: 14px;
  font-weight: 300;
}
.location-card .map-details ul {
  padding: 0 50px;
}

.rsvp {
  background-size: cover;
  padding: 100px 30px;
  position: relative;
  background-position-y: -110px;
}
.rsvp:before {
  content: "";
  background: url(http://subtlepatterns.com/patterns/dark_fish_skin.png) repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}
.rsvp h1 {
  font-family: "KG Second Chances";
  font-weight: normal;
  font-size: 42px;
  color: #fff;
}
.rsvp .content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.rsvp a {
  border: 3px solid #fff;
  padding: 18px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.5s;
}
.rsvp a:hover {
  background: #fff;
  color: #58b39c;
}

.proposal {
  background: #ACA092;
  padding: 30px 10%;
}
.proposal h1 {
  font-family: "KG Second Chances";
  font-weight: normal;
  font-size: 42px;
  color: #F2E0BA;
}
.proposal .content {
  display: flex;
}
.proposal .content iframe {
  width: 50%;
  padding: 10px;
}

.gifts {
  background: #fff;
  padding: 30px 10% 0;
}
.gifts h1 {
  font-family: "KG Second Chances";
  font-weight: normal;
  font-size: 42px;
  color: #ff746f;
}
.gifts .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
  flex-wrap: wrap;
}
.gifts .content a {
  margin: auto;
}
@media (max-width: 500px) {
  .gifts .content a {
    margin: 20px auto;
  }
}
.gifts .content a:hover {
  opacity: 0.5;
}

.hashtag {
  background: #f7f7f7;
  padding: 40px;
}
.hashtag h1 {
  font-family: 'Satisfy', cursive;
  font-weight: normal;
  font-size: 55px;
  color: #9b9b9b;
  text-align: center;
  margin: 0;
}
@media (max-width: 650px) {
  .hashtag h1 {
    font-size: 2em;
  }
}

.instagram {
  overflow: hidden;
}

.instafeed a {
  display: inline-flex;
}
.instafeed .instafeed-item {
  padding: 30px;
}
@media (max-width: 480px) {
  .instafeed .instafeed-item {
    padding: 20px;
  }
}

footer {
  height: 20px;
  background: #606060;
}
